@font-face {
    font-family: 'Lilita One';
    src: url('./LilitaOne-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

:root {
    --card-size: 500px;
    --nav-color: #003049;
    --site-background-color: #D62828;
    --card-background-color: #FCBF49;
    --font-color: #eae2b7;
    --active-btn-color: #D62828;
    --hidden-btn-color: #F77F00;
    --card-border-radius: 4px;
    color: var(--font-color);
    font-family: 'Lilita One';
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--site-background-color);
    gap: 2vh;
}

header {
    background-color: var(--nav-color);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.nav-btn {
    color: var(--nav-color);
    background-color: var(--active-btn-color);
    border: none;
}



.hidden {
    background-color: var(--hidden-btn-color);
}

#content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 50%;
    gap: 10vh;
}

.card {
    background-color: var(--card-background-color);
    color: var(--card-font-color);
    border-radius: var(--card-border-radius);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding: 5%;
    gap: 10px;
    width: 30vw;
}

.card-header {
    align-self: flex-start;
}